# Recommendation System

In [2]:
import mlxtend
import numpy as np
import pandas as pd

In [3]:
data = np.array([
    ['우유', '기저귀', '쥬스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '맥주'],
    ['양상추', '맥주']
])

C:\Users\dmqa\AppData\Local\Temp\ipykernel_11232\3354202648.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

## Apriori Algorithm

In [4]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns = te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [5]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True) # min_support : 최소 지지도

CPU times: total: 0 ns
Wall time: 15 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (기저귀, 맥주)
5     0.50      (기저귀, 양상추)
6     0.50       (기저귀, 우유)
7     0.75       (맥주, 양상추)
8     0.50  (기저귀, 맥주, 양상추)

In [6]:
from mlxtend.frequent_patterns import association_rules
association_rules(apriori(df, min_support=0.25, use_colnames=True),
                  metric='confidence',
                  min_threshold=0.5,
                  support_only = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
5,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(쥬스),(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
7,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
8,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
9,(우유),(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
10,(우유),(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
11,(쥬스),(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
12,(우유),(쥬스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
13,"(기저귀, 맥주)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
14,"(기저귀, 양상추)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
15,"(맥주, 양상추)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
16,(기저귀),"(맥주, 양상추)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
17,(맥주),"(기저귀, 양상추)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
18,(양상추),"(기저귀, 맥주)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
19,"(기저귀, 맥주)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
20,"(기저귀, 우유)",(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
21,"(우유, 맥주)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
22,(우유),"(기저귀, 맥주)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
23,"(기저귀, 우유)",(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
24,"(기저귀, 양상추)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
25,"(우유, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
26,(우유),"(기저귀, 양상추)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
27,"(기저귀, 쥬스)",(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
28,"(우유, 쥬스)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
29,"(기저귀, 우유)",(쥬스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
30,(쥬스),"(기저귀, 우유)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
31,(우유),"(기저귀, 쥬스)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
32,"(우유, 맥주)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
33,"(우유, 양상추)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
34,(우유),"(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
35,"(기저귀, 맥주, 양상추)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
36,"(기저귀, 맥주, 우유)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
37,"(기저귀, 우유, 양상추)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
38,"(우유, 맥주, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
39,"(기저귀, 맥주)","(우유, 양상추)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
40,"(기저귀, 양상추)","(우유, 맥주)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
41,"(기저귀, 우유)","(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
42,"(우유, 맥주)","(기저귀, 양상추)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
43,"(우유, 양상추)","(기저귀, 맥주)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
44,(우유),"(기저귀, 맥주, 양상추)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00

## FP-Growth Algorithm

In [7]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [8]:
%%time
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: total: 15.6 ms
Wall time: 2.02 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (기저귀, 맥주)
5     0.50      (기저귀, 양상추)
6     0.50  (기저귀, 맥주, 양상추)
7     0.50       (기저귀, 우유)
8     0.75       (맥주, 양상추)

In [9]:
from mlxtend.frequent_patterns import association_rules
association_rules(fpgrowth(df, min_support=0.25, use_colnames=True),
                  metric='confidence',
                  min_threshold=0.5,
                  support_only = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,"(기저귀, 맥주)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,"(기저귀, 양상추)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,"(맥주, 양상추)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
7,(기저귀),"(맥주, 양상추)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
8,(맥주),"(기저귀, 양상추)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
9,(양상추),"(기저귀, 맥주)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
10,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
11,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
12,(우유),(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
13,(우유),(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
14,"(기저귀, 맥주)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
15,"(기저귀, 우유)",(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
16,"(우유, 맥주)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
17,(우유),"(기저귀, 맥주)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
18,"(기저귀, 우유)",(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
19,"(기저귀, 양상추)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
20,"(우유, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
21,(우유),"(기저귀, 양상추)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
22,"(우유, 맥주)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
23,"(우유, 양상추)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
24,(우유),"(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
25,"(기저귀, 맥주, 양상추)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
26,"(기저귀, 맥주, 우유)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
27,"(기저귀, 우유, 양상추)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
28,"(우유, 맥주, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
29,"(기저귀, 맥주)","(우유, 양상추)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
30,"(기저귀, 양상추)","(우유, 맥주)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
31,"(기저귀, 우유)","(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
32,"(우유, 맥주)","(기저귀, 양상추)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
33,"(우유, 양상추)","(기저귀, 맥주)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
34,(우유),"(기저귀, 맥주, 양상추)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
35,(쥬스),(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
36,(우유),(쥬스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
37,(쥬스),(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
38,"(기저귀, 쥬스)",(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
39,"(우유, 쥬스)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
40,"(기저귀, 우유)",(쥬스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
41,(쥬스),"(기저귀, 우유)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
42,(우유),"(기저귀, 쥬스)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
43,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
44,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf

## TF-IDF Algorithm #1

In [10]:
docs = [
  '먹고 싶은 사과', # 문서0 
  '먹고 싶은 바나나', # 문서1
  '길고 노란 바나나 바나나', # 문서2 
  '저는 과일이 좋아요' # 문서3 
]

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer() # Counter Vectorizer 객체 생성

In [12]:
# 문장을 Counter Vectorizer 형태로 변형 
countvect = vect.fit_transform(docs) 
countvect # 4x9 : 4개의 문서에 9개의 단어

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [13]:
# toarray()를 통해서 문장이 Vector 형태의 값을 얻을 수 있음 
# 하지만, 각 인덱스와 컬럼이 무엇을 의미하는지에 대해서는 알 수가 없음 
countvect.toarray()

array([[0, 0, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 1, 1, 0, 1, 0, 0],
       [0, 1, 1, 0, 2, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 1, 1]], dtype=int64)

In [14]:
# column 위치(index) 확인
vect.vocabulary_

{'먹고': 3,
 '싶은': 6,
 '사과': 5,
 '바나나': 4,
 '길고': 1,
 '노란': 2,
 '저는': 7,
 '과일이': 0,
 '좋아요': 8}

In [15]:
sorted(vect.vocabulary_)

['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [16]:
import pandas as pd

countvect_df = pd.DataFrame(countvect.toarray(), columns = sorted(vect.vocabulary_))
countvect_df.index = ['문서1', '문서2', '문서3', '문서4']
countvect_df

     과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
문서1    0   0   0   1    0   1   1   0    0
문서2    0   0   0   1    1   0   1   0    0
문서3    0   1   1   0    2   0   0   0    0
문서4    1   0   0   0    0   0   0   1    1

In [17]:
# 위의 Data Frame 형태의 유사도를 계산 
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(countvect_df, countvect_df)

array([[1.        , 0.66666667, 0.        , 0.        ],
       [0.66666667, 1.        , 0.47140452, 0.        ],
       [0.        , 0.47140452, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [18]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
tfvect = vect.fit(docs)

In [19]:
tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns = sorted(vect.vocabulary_))
tfidv_df.index = ['문서1', '문서2', '문서3', '문서4']
tfidv_df

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
문서1,0.00000,0.00000,0.00000,0.526405,0.00000,0.667679,0.526405,0.00000,0.00000
문서2,0.00000,0.00000,0.00000,0.577350,0.57735,0.000000,0.577350,0.00000,0.00000
문서3,0.00000,0.47212,0.47212,0.000000,0.74445,0.000000,0.000000,0.00000,0.00000
문서4,0.57735,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.57735,0.57735

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(tfidv_df, tfidv_df)

array([[1.        , 0.60784064, 0.        , 0.        ],
       [0.60784064, 1.        , 0.42980824, 0.        ],
       [0.        , 0.42980824, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(max_features=4) # 최대 4개의 feature(단어)
tfvect = vect.fit(docs)

In [22]:
tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns = sorted(vect.vocabulary_))
tfidv_df.index = ['문서1', '문서2', '문서3', '문서4']
tfidv_df

     과일이        먹고      바나나        싶은
문서1  0.0  0.707107  0.00000  0.707107
문서2  0.0  0.577350  0.57735  0.577350
문서3  0.0  0.000000  1.00000  0.000000
문서4  1.0  0.000000  0.00000  0.000000

## TF-IDF Algorithm #2

- overview(영화 설명)만 가지고 추천시스템 만듬
https://www.kaggle.com/rounakbanik/the-movies-dataset

In [23]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import os

In [24]:
print(os.listdir())

['Aggarwal2016_Book_RecommenderSystems.pdf', 'movies_metadata.csv', 'Recommender Systems HANDBOOK.pdf', 'RecommenderSystem.ipynb']

In [40]:
data = pd.read_csv('./data/movies_metadata.csv', low_memory=False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [26]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [27]:
# 전처리
# overview의 결측치가 있는 항목은 모두 제거
data = data[data['overview'].notnull()].reset_index(drop=True)
data.shape

(44512, 24)

In [28]:
# 불용어 : 유의미하지 않은 단어 토큰을 제거
# http://wikidocs.net/22530
tfidf = TfidfVectorizer(stop_words='english')

# overview에 대해서 tf-idf 수행
tfidf_matrix = tfidf.fit_transform(data['overview'])
print(tfidf_matrix.shape)
print(tfidf_matrix)

(44512, 75827)
  (0, 17764)	0.134802246140046
  (0, 4388)	0.14749496036334675
  (0, 38030)	0.10130492170129866
  (0, 21887)	0.10427175365171032
  (0, 19641)	0.1327838678264152
  (0, 48558)	0.10327489707167312
  (0, 59519)	0.13003739505780204
  (0, 12490)	0.12538832526058027
  (0, 51108)	0.1343175486141446
  (0, 29238)	0.10081350654996175
  (0, 50914)	0.09175662003189963
  (0, 39423)	0.11899714892844976
  (0, 1847)	0.1408998222945253
  (0, 58571)	0.11346942333612971
  (0, 38693)	0.20645325431746545
  (0, 9874)	0.5029957943948733
  (0, 9087)	0.10624348769425612
  (0, 7491)	0.12374491560563151
  (0, 56872)	0.1111521720274714
  (0, 28729)	0.133081090062601
  (0, 39012)	0.08702210172627411
  (0, 67874)	0.14879328658873595
  (0, 3159)	0.4117166458333924
  (0, 73468)	0.48111255976903655
  (0, 38088)	0.10728976397103959
  :	:
  (44510, 26957)	0.07341230107541334
  (44510, 18919)	0.09267684577032377
  (44510, 18119)	0.0745725505339137
  (44510, 39012)	0.06818281527928709
  (44511, 16520)	0.32399944478604337
  (44511, 7157)	0.29167090859296085
  (44511, 43243)	0.23658994413768836
  (44511, 15834)	0.24241130329153343
  (44511, 69170)	0.2281244095835159
  (44511, 34173)	0.24150579486859805
  (44511, 4443)	0.3120679439665883
  (44511, 3912)	0.22201426791790596
  (44511, 22285)	0.28713476250813463
  (44511, 529)	0.19361512019416977
  (44511, 23012)	0.187330338836261
  (44511, 740)	0.1969500096200869
  (44511, 55174)	0.17694796946279198
  (44511, 11313)	0.1492773375570631
  (44511, 25817)	0.1744704739020168
  (44511, 17272)	0.2018480313884503
  (44511, 17977)	0.13977248859761476
  (44511, 30389)	0.2337167660113441
  (44511, 42466)	0.1265846953816359
  (44511, 73408)	0.1338138043465717
  (44511, 74030)	0.10719208180737816

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

# 만일 여기서 메모리 에러가 발생하신 분은 TF-IDF의 파라미터를 수정해줘서 다시 돌리면 됩니다.
# tfidf = TfidfVectorizer(stop_words='english', max_features=10000)

# 그래도, 안되는 경우에는 문서의 수를 조금 줄여서 실행해보시길 바랍니다.
# data = data.loc[0:10000].reset_index(drop=True)

In [30]:
print(cosine_matrix.shape)
np.round(cosine_matrix, 4)

(44512, 44512)

array([[1.    , 0.015 , 0.    , ..., 0.    , 0.0059, 0.    ],
       [0.015 , 1.    , 0.0468, ..., 0.    , 0.022 , 0.0092],
       [0.    , 0.0468, 1.    , ..., 0.    , 0.014 , 0.    ],
       ...,
       [0.    , 0.    , 0.    , ..., 1.    , 0.    , 0.    ],
       [0.0059, 0.022 , 0.014 , ..., 0.    , 1.    , 0.    ],
       [0.    , 0.0092, 0.    , ..., 0.    , 0.    , 1.    ]])

In [31]:
# cosine matrix의 인덱스가 data에 있는 id를 의미하는 것이 아니라 그냥 순서임
# 그래서 data에 있는 id로 수정하려함

# movie title와 id를 매핑할 dictionary를 생성해줌
movie2id = {}
for i, c in enumerate(data['title']): 
    movie2id[i] = c
    
# id와 movie title를 매핑할 dictionary를 생성해줌
id2movie = {}
for i,c in movie2id.items(): # dictionary의 key, value 호출해줌
    id2movie[c] = i

In [32]:
# Toy Story의 id 추출
idx = id2movie['Toy Story'] # Toy Story : 0번 인덱스
sim_scores = [(i,c) for i,c in enumerate(cosine_matrix[idx]) if i != idx]

In [33]:
# 자기 자신을 제외한 영화들의 유사도 및 인덱스를 추출
# value값을 기준으로 정렬
sim_scores = sorted(sim_scores, key = lambda x:x[1], reverse=True) # 유사도가 높은 순서대로 정렬
sim_scores[0:10] # 상위 10개의 인덱스와 유사도를 추출

[(15282, 0.5321733978946077),
 (2979, 0.47214559370670484),
 (10271, 0.274962516260823),
 (24316, 0.27322653023092314),
 (23646, 0.23543946958082806),
 (28893, 0.22397858775140161),
 (42572, 0.21761842522811847),
 (37778, 0.2159367770908928),
 (41893, 0.20190977282766223),
 (8303, 0.19868494439439036)]

In [34]:
i, score = sim_scores[0]
print(i)
print(score)

15282
0.5321733978946077

Toy Story overview 기준으로 TF-IDF 정렬한 결과

In [35]:
sim_scores = [(movie2id[i], score) for i, score in sim_scores[0:10]]
sim_scores

[('Toy Story 3', 0.5321733978946077),
 ('Toy Story 2', 0.47214559370670484),
 ('The 40 Year Old Virgin', 0.274962516260823),
 ('Small Fry', 0.27322653023092314),
 ("Andy Hardy's Blonde Trouble", 0.23543946958082806),
 ('Hot Splash', 0.22397858775140161),
 ('Andy Kaufman Plays Carnegie Hall', 0.21761842522811847),
 ('Superstar: The Life and Times of Andy Warhol', 0.2159367770908928),
 ('Andy Peters: Exclamation Mark Question Point', 0.20190977282766223),
 ('The Champ', 0.19868494439439036)]

## Word2Vec #1

In [36]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import gensim # Word2Vec package 호출

import warnings
warnings.filterwarnings(action='ignore')

c:\Users\dmqa\anaconda3\envs\recommendation\lib\site-packages\scipy\sparse\sparsetools.py:21: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  _deprecated()

In [41]:
movie = pd.read_csv('./data/ratings.csv', low_memory=False)
movie.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [42]:
movie = movie.sort_values(by='timestamp', ascending=True).reset_index(drop=True)
movie.head()

   userId  movieId  rating  timestamp
0   38150     1176     4.0  789652004
1   44717     1079     3.0  789652009
2   44717       47     5.0  789652009
3   44717       21     3.0  789652009
4  190860       21     5.0  822873600

In [43]:
# 영화의 Metadata를 불러와서 movieID에 맞는 TITLE을 구해줌
meta = pd.read_csv("./data/movies_metadata.csv", low_memory=False)
meta.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [44]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [45]:
meta = meta.rename(columns={'id':'movieId'}) # 컬럼명 변경
movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], how='left', on='movieId') # join을 해줌
movie

In [47]:
movie = movie[movie['original_title'].notnull()].reset_index(drop=True)

In [48]:
agg = movie.groupby(['userId'])['original_title'].agg({'unique'})
agg.head()

                                                   unique
userId
1       [Young and Innocent, Shuang ma lian huan, Cesa...
2       [La passion de Jeanne d'Arc, La belle et la bê...
3       [I Love You to Death, Once Were Warriors, Mons...
4       [Muxmäuschenstill, Batman & Robin, Hidalgo, 12...
5       [Star Trek III: The Search for Spock, The Curs...

In [49]:
movie['original_title'].unique()

array(['The Endless Summer', 'Apocalypse Now', 'Finding Nemo', ...,
       'Lost River', 'Friends & Lovers', 'The Chechahcos'], dtype=object)

영화 제목 하나하나를 단어로 보고 영화간의 유사도를 영화 본 순서를 통해 계산하려함

Word2Vec 적용

In [50]:
# int형식은 Word2vec에서 학습이 안되어서 String으로 변경해줍니다. 
sentence = []
for user_sentence in agg['unique'].values:
    sentence.append(list(map(str, user_sentence)))

In [54]:
# Word2Vec의 학습을 진행해줌
from gensim.models import Word2Vec
embedding_model = Word2Vec(sentence, vector_size=20, window=5, 
                           min_count = 1, workers=4, epochs=200, sg=1) # sg : 0 - CBOW / sg : 1 - SKIP-GRAM

In [56]:
embedding_model.wv.most_similar(positive=['Spider-Man 2'], topn=10)

[('The Flintstones', 0.9318073391914368),
 ('Solaris', 0.9190630316734314),
 ('To Die For', 0.91568922996521),
 ('Chill Factor', 0.9088932871818542),
 ('Lammbock', 0.9030318260192871),
 ('Domicile Conjugal', 0.8853076696395874),
 ('Les Poupées Russes', 0.8793375492095947),
 ('Flatliners', 0.8786746859550476),
 ('Forrest Gump', 0.872657060623169),
 ('Rumor Has It...', 0.860260009765625)]

## Matrix Factorization : SGD

In [1]:
import numpy as np
from tqdm import tqdm_notebook as tqdm

일단, init 함수는 Matrix Factorization이라는 클래스가 호출될 때 자동으로 실행되는 부분입니다.

파라미터로는 6개의 인자를 받는데 각각 아래의 의미를 가집니다.

- R: 평점 행렬
- k: User Latent와 Item Latent의 차원의 수
- learning_rate: 학습률
- reg_param: Weight의 Regularization 값
- epochs: 전체 학습 횟수 (Total Epoch)
- verbose: 학습 과정을 출력할지 여부 (True : 10번마다 cost 출력, False : cost를 출력하지 않음)

In [6]:
# Base code : https://yamalab.tistory.com/92
class MatrixFactorization():
    def __init__(self, R, k, learning_rate, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """
        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._learning_rate = learning_rate
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        """
        training Matrix Factorization : Update matrix latent weight and bias

        참고: self._b에 대한 설명
        - global bias: input R에서 평가가 매겨진 rating의 평균값을 global bias로 사용
        - 정규화 기능. 최종 rating에 음수가 들어가는 것 대신 latent feature에 음수가 포함되도록 해줌.

        :return: training_process
        """

        # init latent features
        self._P = np.random.normal(size=(self._num_users, self._k))
        self._Q = np.random.normal(size=(self._num_items, self._k))

        # init biases
        self._b_P = np.zeros(self._num_users)
        self._b_Q = np.zeros(self._num_items)
        self._b = np.mean(self._R[np.where(self._R != 0)])

        # train while epochs
        self._training_process = []
        for epoch in range(self._epochs):
            # rating이 존재하는 index를 기준으로 training
            xi, yi = self._R.nonzero() # 0이 아닌 부분만 x,y(좌표) 출력 (결측치가 아닌 부분을 통해서만 학습을 진행)
            for i, j in zip(xi, yi):
                self.gradient_descent(i, j, self._R[i, j])
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """

        # xi, yi: R[xi, yi]는 nonzero인 value를 의미한다.
        # 참고: http://codepractice.tistory.com/90
        xi, yi = self._R.nonzero()
        # predicted = self.get_complete_matrix()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - self.get_prediction(x, y), 2)
        return np.sqrt(cost/len(xi))


    def gradient(self, error, i, j):
        """
        gradient of latent feature for GD

        :param error: rating - prediction error
        :param i: user index
        :param j: item index
        :return: gradient of latent feature tuple
        """

        dp = (error * self._Q[j, :]) - (self._reg_param * self._P[i, :])
        dq = (error * self._P[i, :]) - (self._reg_param * self._Q[j, :])
        return dp, dq


    def gradient_descent(self, i, j, rating):
        """
        graident descent function

        :param i: user index of matrix
        :param j: item index of matrix
        :param rating: rating of (i,j)
        """

        # get error
        prediction = self.get_prediction(i, j)
        error = rating - prediction

        # update biases
        self._b_P[i] += self._learning_rate * (error - self._reg_param * self._b_P[i])
        self._b_Q[j] += self._learning_rate * (error - self._reg_param * self._b_Q[j])

        # update latent feature
        dp, dq = self.gradient(error, i, j)
        self._P[i, :] += self._learning_rate * dp
        self._Q[j, :] += self._learning_rate * dq


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._b + self._b_P[i] + self._b_Q[j] + self._P[i, :].dot(self._Q[j, :].T)


    def get_complete_matrix(self):
        """
        computer complete matrix PXQ + P.bias + Q.bias + global bias

        - PXQ 행렬에 b_P[:, np.newaxis]를 더하는 것은 각 열마다 bias를 더해주는 것
        - b_Q[np.newaxis:, ]를 더하는 것은 각 행마다 bias를 더해주는 것
        - b를 더하는 것은 각 element마다 bias를 더해주는 것

        - newaxis: 차원을 추가해줌. 1차원인 Latent들로 2차원의 R에 행/열 단위 연산을 해주기위해 차원을 추가하는 것.

        :return: complete matrix R^
        """
        return self._b + self._b_P[:, np.newaxis] + self._b_Q[np.newaxis:, ] + self._P.dot(self._Q.T)

In [7]:
%%time

# run example
# rating matrix - User X Item : (7 X 5)
# P, Q is (7 X k), (k X 5) matrix
R = np.array([
    [1, 0, 0, 1, 3],
    [2, 0, 3, 1, 1],
    [1, 2, 0, 5, 0],
    [1, 0, 0, 4, 4],
    [2, 1, 5, 4, 0],
    [5, 1, 5, 4, 0],
    [0, 0, 0, 1, 0],
])

factorizer = MatrixFactorization(R, k=3,
                                 learning_rate=0.01,
                                 reg_param=0.01,
                                 epochs=100,
                                 verbose=True)
factorizer.fit()

Iteration: 10 ; cost = 1.3560
Iteration: 20 ; cost = 0.9949
Iteration: 30 ; cost = 0.8222
Iteration: 40 ; cost = 0.7291
Iteration: 50 ; cost = 0.6732
Iteration: 60 ; cost = 0.6346
Iteration: 70 ; cost = 0.6032
Iteration: 80 ; cost = 0.5741
Iteration: 90 ; cost = 0.5446
Iteration: 100 ; cost = 0.5132
CPU times: total: 62.5 ms
Wall time: 73.8 ms

In [8]:
factorizer.get_complete_matrix()

array([[1.75542778, 2.53103882, 2.01891852, 0.51651766, 2.92449145],
       [0.83301   , 2.3116262 , 3.07703853, 1.67035805, 1.21384632],
       [1.87212079, 1.96170313, 5.28446749, 4.34767319, 0.82069821],
       [1.74484425, 0.49377925, 3.82143472, 3.46431843, 3.87718995],
       [1.73444546, 1.06589361, 4.82262203, 4.32286843, 2.60263029],
       [4.24789615, 1.03216671, 4.88571414, 4.53364264, 4.36393945],
       [1.09761257, 0.73126033, 2.10842941, 1.05036424, 1.8138378 ]])

## Matrix Factorization : ALS

In [9]:
import numpy as np
from tqdm import tqdm_notebook as tqdm

# Base code : https://github.com/mickeykedia/Matrix-Factorization-ALS/blob/master/ALS%20Python%20Implementation.py
class AlternatingLeastSquares():
    def __init__(self, R, k, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """
        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        # init latent features
        self._users = np.random.normal(size=(self._num_users, self._k))
        self._items = np.random.normal(size=(self._num_items, self._k))

        # train while epochs
        self._training_process = []
        self._user_error = 0; self._item_error = 0; 
        for epoch in range(self._epochs):
            # 여기만 SGD랑 다름. user latent와 item latent 따로 update
            for i, Ri in enumerate(self._R):
                self._users[i] = self.user_latent(i, Ri)
                self._user_error = self.cost()
                
            for j, Rj in enumerate(self._R.T):
                self._items[j] = self.item_latent(j, Rj)
                self._item_error = self.cost()
                
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """
        xi, yi = self._R.nonzero()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - self.get_prediction(x, y), 2)
        return np.sqrt(cost/len(xi))


    def user_latent(self, i, Ri):
        """
        :param error: rating - prediction error
        :param i: user index
        :param Ri: Rating of user index i
        :return: convergence value of user latent of i index
        """

        du = np.linalg.solve(np.dot(self._items.T, np.dot(np.diag(Ri), self._items)) + self._reg_param * np.eye(self._k),
                                   np.dot(self._items.T, np.dot(np.diag(Ri), self._R[i].T))).T
        return du

    def item_latent(self, j, Rj):
        """
        :param error: rating - prediction error
        :param j: item index
        :param Rj: Rating of item index j
        :return: convergence value of itemr latent of j index
        """

        di = np.linalg.solve(np.dot(self._users.T, np.dot(np.diag(Rj), self._users)) + self._reg_param * np.eye(self._k),
                                 np.dot(self._users.T, np.dot(np.diag(Rj), self._R[:, j])))
        return di


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._users[i, :].dot(self._items[j, :].T)


    def get_complete_matrix(self):
        """
        :return: complete matrix R^
        """
        return self._users.dot(self._items.T)



# run example
if __name__ == "__main__":
    # rating matrix - User X Item : (7 X 5)
    R = np.array([
        [1, 0, 0, 1, 3],
        [2, 0, 3, 1, 1],
        [1, 2, 0, 5, 0],
        [1, 0, 0, 4, 4],
        [2, 1, 5, 4, 0],
        [5, 1, 5, 4, 0],
        [0, 0, 0, 1, 0],
    ])

In [10]:
als = AlternatingLeastSquares(R = R, reg_param = 0.01, epochs=100, verbose=True, k=3)
als.fit()

Iteration: 10 ; cost = 0.0419
Iteration: 20 ; cost = 0.0212
Iteration: 30 ; cost = 0.0164
Iteration: 40 ; cost = 0.0136
Iteration: 50 ; cost = 0.0118
Iteration: 60 ; cost = 0.0104
Iteration: 70 ; cost = 0.0094
Iteration: 80 ; cost = 0.0086
Iteration: 90 ; cost = 0.0079
Iteration: 100 ; cost = 0.0074

In [11]:
als.get_complete_matrix()

array([[ 1.01773132,  0.58175078, -1.34661321,  1.00394604,  2.99864312],
       [ 2.01358315,  0.02897631,  2.9933269 ,  1.00080881,  0.98967192],
       [ 0.98527897,  1.9973492 ,  0.3705879 ,  4.99894923,  1.89840952],
       [ 1.01437286,  1.90878386, -2.15191417,  3.99854682,  3.99935384],
       [ 2.00828698,  1.0002139 ,  5.00044427,  3.99935418, -0.41779367],
       [ 4.99444576,  1.00054444,  5.00003706,  3.9997561 ,  4.68931129],
       [ 0.2621558 ,  0.38653398,  0.17128061,  0.9983456 ,  0.40776071]])